In [1]:
import os 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Collecting pairs of person photos

In [2]:
path = 'dataset/lfw_funneled'

pairs = ''
with open(f'{path}/pairs.txt', 'r') as file:
    pairs = file.read()

df = pd.DataFrame(list(map(lambda x: x.split('\t'), pairs.split('\n')[1:301])), columns=['name', 'pic1', 'pic2'])
df = (pd.melt(df, id_vars='name', value_vars=['pic1', 'pic2'], var_name='picNum', value_name='pic')
        .drop('picNum', axis=1)
        .sort_values(by=['name', 'pic'])
        .drop_duplicates()
        .reset_index(drop=True))

df['pic'] = df['pic'].apply(lambda x: x.zfill(4))
df['path'] = str(path) + '/' + df['name'] + '/' + df['name'] + '_' + df['pic'] + '.jpg'

df.to_csv('pairs.csv')
df.head()

             name   pic                                               path
0    Abel_Pacheco  0001  dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...
1    Abel_Pacheco  0004  dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...
2  Akhmed_Zakayev  0001  dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...
3  Akhmed_Zakayev  0002  dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...
4  Akhmed_Zakayev  0003  dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...

In [3]:
pics_to_scale_path = df['path'].values
pics_to_scale = list(map(lambda x: x.split('/')[-1][:-4]+ '_result.jpg', pics_to_scale_path))
print(f'There are {len(pics_to_scale)} unique pics to be scaled')

There are 500 unique pics to be scaled

# Scaling

In [ ]:
# Тут надо самому ставить нужный скейл: 2 3 или 4. Так как 
scaled_pics = os.listdir('dataset/output')
for pic, pic_path in zip(pics_to_scale, pics_to_scale_path):
    if pic in scaled_pics:
        continue
    abc = f'--file={pic_path} --scale=4'
    %run sr.py {abc}

In [8]:
for scale in [2, 3, 4]:
    df[f'path_x{scale}'] = f'dataset/output_x{scale}/' + df[f'path'].apply(lambda x: x.split('/')[-1][:-4]) + '_result.jpg'
df.head()

,name,pic,path,path_x2,path_x3,path_x4
0,Abel_Pacheco,0001,dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...,dataset/output_x2/Abel_Pacheco_0001_result.jpg,dataset/output_x3/Abel_Pacheco_0001_result.jpg,dataset/output_x4/Abel_Pacheco_0001_result.jpg
1,Abel_Pacheco,0004,dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...,dataset/output_x2/Abel_Pacheco_0004_result.jpg,dataset/output_x3/Abel_Pacheco_0004_result.jpg,dataset/output_x4/Abel_Pacheco_0004_result.jpg
2,Akhmed_Zakayev,0001,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...,dataset/output_x2/Akhmed_Zakayev_0001_result.jpg,dataset/output_x3/Akhmed_Zakayev_0001_result.jpg,dataset/output_x4/Akhmed_Zakayev_0001_result.jpg
3,Akhmed_Zakayev,0002,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...,dataset/output_x2/Akhmed_Zakayev_0002_result.jpg,dataset/output_x3/Akhmed_Zakayev_0002_result.jpg,dataset/output_x4/Akhmed_Zakayev_0002_result.jpg
4,Akhmed_Zakayev,0003,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...,dataset/output_x2/Akhmed_Zakayev_0003_result.jpg,dataset/output_x3/Akhmed_Zakayev_0003_result.jpg,dataset/output_x4/Akhmed_Zakayev_0003_result.jpg