In [49]:
import os 
import pandas as pd

In [74]:
pairs = ''
with open('dataset/lfw_funneled/pairs.txt', 'r') as file:
    pairs = file.read()

In [75]:
df = pd.DataFrame(list(map(lambda x: x.split('\t'), temp.split('\n')[1:301])), columns=['name', 'pic1', 'pic2'])
df.head()

                    name pic1 pic2
0           Abel_Pacheco    1    4
1         Akhmed_Zakayev    1    3
2         Akhmed_Zakayev    2    3
3          Amber_Tamblyn    1    2
4  Anders_Fogh_Rasmussen    1    3

In [76]:
for i in [1, 2]:
    df[f'pic{i}'] = df[f'pic{i}'].apply(lambda x: x.zfill(4))
    df[f'path{i}'] = 'dataset/lfw_funneled/' + df['name'] + '/' + df['name'] + '_' + df[f'pic{i}'] + '.jpg'

In [77]:
df.head()

,name,pic1,pic2,path1,path2
0,Abel_Pacheco,0001,0004,dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...,dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...
1,Akhmed_Zakayev,0001,0003,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...
2,Akhmed_Zakayev,0002,0003,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...
3,Amber_Tamblyn,0001,0002,dataset/lfw_funneled/Amber_Tamblyn/Amber_Tambl...,dataset/lfw_funneled/Amber_Tamblyn/Amber_Tambl...
4,Anders_Fogh_Rasmussen,0001,0003,dataset/lfw_funneled/Anders_Fogh_Rasmussen/And...,dataset/lfw_funneled/Anders_Fogh_Rasmussen/And...

In [81]:
df.to_csv('pairs.csv')

# ГОВНОЦИКЛЫ

In [83]:
from recognizer import Recognizer
from skimage.io import imread

THRESHOLD = 0.9

In [85]:
df = pd.read_csv('pairs.csv', index_col=0)
df.head()

,name,pic1,pic2,path1,path2
0,Abel_Pacheco,1,4,dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...,dataset/lfw_funneled/Abel_Pacheco/Abel_Pacheco...
1,Akhmed_Zakayev,1,3,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...
2,Akhmed_Zakayev,2,3,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...,dataset/lfw_funneled/Akhmed_Zakayev/Akhmed_Zak...
3,Amber_Tamblyn,1,2,dataset/lfw_funneled/Amber_Tamblyn/Amber_Tambl...,dataset/lfw_funneled/Amber_Tamblyn/Amber_Tambl...
4,Anders_Fogh_Rasmussen,1,3,dataset/lfw_funneled/Anders_Fogh_Rasmussen/And...,dataset/lfw_funneled/Anders_Fogh_Rasmussen/And...